body {
  background-color: #BADA55;
  font-family: 'Indie Flower', cursive;
}

h1 {
  text-align: center;
  font-size: 30pt;
  margin: 0px;
}

.background-theme {
  font-size: 30pt;
}

canvas {
  background-color: #FFFFFF;
  border: 2px solid black;
  display: block;
  margin: 10px auto;
  /*transform: rotate(180deg);*/  /*opposite day leve*/
}

.color-selectors {
  display: flex;
  justify-content: center;
}

.background-changer {
  display: inline-block;
  height: 30px;
  width: 60px;
  margin: 0px 5px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

.background-changer:hover {
  transform: scale(1.2) rotate(5deg);
  cursor: pointer;
}

#background-one {
  background-color: #BADA55;
}

#background-two {
  background-color: #C00C00;
}

#background-three {
  background-color: #C0FFEE;
}

#background-four {
  background-color: #0B5E55;
}

.lives {
  display: inline-block;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0px;
  margin-right: 20px;
}

p {
  text-align: right;
  margin-right: 10px;
}

.names {
  font-weight: bold;
}

.start-over-button {
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px
}

.start-over-button:focus {
  border: none;
  outline: none;
}

.start-over-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.game-features {
  text-align: center;
  display: block;
  margin-top: -15px;
}


/*canvas:hover {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}*/
